/* Custom stylesheet */

html {
    min-height: 180px;
    max-height: 555px;
    height: 100%;
}
body {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    overflow: hidden;
    width: 300px;
    height: 100%;
    min-height: 180px;
    max-height: 555px;
    margin: 0;
    padding: 0;
    border: none;
}

/* universal classes */
.material-icons.md-18 {
    font-size: 18px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.circle-button {
    padding: 0;
    max-width: 0;
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 50px;
    color: #424242;
    transition: color .15s ease;
}
.circle-button:hover {
    color: #000000;
}
/* --------------------------- */

/* Design core of extension */
.app {
    margin: 0;
    height: 100%;
    width: 100vw;
    max-height: 552px;
    max-width: 300px;
    overflow: hidden;
}
.wrapper {
    transition: all .25s ease;
    height: 100%;
}
.card {
    position: absolute;
    top: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    min-height: 180px;
}
/* --------------------------- */

/* wrapper-card structure used for non-js animation */
/*
    !add .wrapper.{card-name} class with translateX(-360*{card-index}px); style
    and .card.{card-name}-card class with left: 360*{card-index}px style
    for each new card in this section
*/
.wrapper.settings {
    transform: translateX(0px);
}
.wrapper.default {
    transform: translateX(-300px);
}
.wrapper.new-session {
    transform: translateX(-600px);
}

.card.settings-card {
    left: 0;
}
.card.default-card {
    left: 300px;
}
.card.new-session-card {
    left: 600px;
}
/* --------------------------- */

/* loader styles block*/
.mdl-spinner-x3 {
    width: 84px;
    height: 84px;
}
.mdl-spinner-x3 .mdl-spinner__circle {
    border-width: 9px;
}
.loader {
    display: none;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
}
.loader .spinner {
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
}
.loader .spinner-x3 {
    position: absolute;
    top: calc(50% - 42px);
    left: calc(50% - 42px);
}
.loading > .loader {
    display: block;
}
.loading {
    position: relative;
}
/* --------------------------- */

/* list containers scroll bar and styles */
.list-container::-webkit-scrollbar-track {
    background-color: transparent;
}
.list-container::-webkit-scrollbar {
    width: 8px;
}
.list-container::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
}

.list-container {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 16px 5px 8px 5px;
    position: relative;
    display: block;
    overflow-y: auto;
    min-height: 125px;
    max-height: 500px;
    height: 100%;
}
/* --------------------------- */

/* sessions list block */
.session-list-item {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    color: #616161;
    line-height: 40px;
    white-space: nowrap;
    max-width: calc(100% - 18px);
    overflow: hidden;
    font-size: 81.25%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 2px;
    transition: all .45s ease;
}
.session-list-item:hover {
    background-color: #eaeaea;
}
.session-list-item-text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-flex: 1;
    flex: 1;
    color: #212121;
    font-weight: bold;
    font-size: 13px;
}
.session-list-item .drag {
    opacity: 0;
}
.session-list-item:hover .drag {
    opacity: 1;
}

.session-list-item .session-remove:hover {
    transition: all .25s ease;
    color: #e53935;
}
.session-list-item .session-update,
.session-list-item .session-edit {
    margin-right: 5px;
}
.session-list-item .session-update:hover,
.session-list-item .session-edit:hover {
    transition: all .25s ease;
    color: #1e88e5;
}

.session-list-item.session-highlighted {
    background-color: #e040fb;
}
.session-highlighted .drag {
    color: #ffffff !important;
    opacity: 1 !important;
}
.session-highlighted .session-list-item-text {
    color: #ffffff !important;
}

.session-tooltip {
    position: absolute;
    color: #ffffff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    z-index: 9;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
    border-radius: 2px;
    width: 132px;
}
.session-add-tooltip {
    top: 110px;
    left: calc(50% - 66px);
    background-color: #212121;
}
.session-add-tooltip:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 58px;
    border: solid 8px transparent;
    border-bottom-color: #212121;
}
.session-remove-tooltip {
    bottom: 6px;
    right: 4px;
    background-color: #d32f2f;
}
/* --------------------------- */

/* action block styles */
.actions-container {
    height: 45px;
    padding: 5px 12px 0 16px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    /*box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);*/
    z-index: 10;
    margin-bottom: 1px;
}
.button-container {
    width: 46px;
    display: inline-block;
}
.button-horizontal-border {
    display: inline-block;
    width: 0;
    height: 24px;
    margin-top: 6px;
    border-left: 1px solid rgba(0,0,0,0.15);
}
/* --------------------------- */

/* modify mdl switch */
.quick-switch-container {
    display: inline-block;
    width: 28px;
    padding-left: 14px;
}
.quick-switch-label {
    transform: scale(1.3);
}
.quick-switch-label.mdl-switch.is-checked .mdl-switch__track {
    background-color: #673ab7 !important;
    opacity: .5 !important;
}
.quick-switch-label.mdl-switch.is-checked .mdl-switch__thumb {
    background-color: #673ab7 !important;
}
.quick-switch-label.mdl-switch .mdl-switch__thumb::after {
    content: "flash_on";
    color: #673ab7;
    font-size: .7em;
    position: absolute;
    top: 3px;
    left: 2px;
}
.quick-switch-label.mdl-switch.is-checked .mdl-switch__thumb::after {
    color: #ffffff;
}
/* --------------------------- */

/* new session actions */
.new-session-container {
    width: calc(100% - 60px);
    padding: 2px 0 2px 12px;
}
.new-session-input {
    padding: 0;
    margin: 0;
    height: 32px;
    width: calc(100% - 48px);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    outline: none;
    color: #424242;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    transition: all .25s ease;
}
.new-session-input:focus {
    border-bottom: 2px solid #2196f3;
}
.new-session-container .session-save {
    background-color: #2196f3;
    color: #ffffff;
}
.new-session-container .session-save:disabled {
    color: #212121 !important;
    background-color: #bdbdbd !important;
}
/* --------------------------- */

/* tabs list block */
.tab-list-container {
    padding-top: 10px;
}
.tab-list {
    list-style: none;
    margin: 0;
    padding: 4px 0 0 0;
}
.tab-checkbox-label {
    background-color: #ffffff;
    line-height: 20px;
    padding: 6px 5px;
    position: relative;
    display: block;
    width: calc(100% - 40px);
    margin-left: 15px;
    height: 32px;
}
.tab-checkbox-label::after {
    bottom: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    content: '';
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
.tab-checkbox {
    display: none;
}
.tab-checkbox:checked + .tab-checkbox-label {
    background: #edf4fd;
}

.tab-checkbox-label .material-checkbox {
    line-height: 32px;
    vertical-align: top;
}
.tab-checkbox-label .material-checked,
.tab-checkbox:checked + .tab-checkbox-label .material-not-checked {
    display: none;
}
.tab-checkbox:checked + .tab-checkbox-label .material-checked,
.tab-checkbox:checked + .tab-checkbox-label .tab-checkbox-img {
    display: inline;
}

.tab-checkbox-text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #212121;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: calc(100% - 58px);
    line-height: 32px;
    padding-left: 8px;
}

.tab-checkbox-label .tab-checkbox-img {
    display: none;
    padding-top: 8px;
    padding-left: 5px;
    vertical-align: top;
}
.tab-checkbox-label:hover .tab-checkbox-img {
    display: inline;
}

.tab-select-all {
    display: inline-block;
    padding-top: 10px;
    padding-left: 32px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: #212121;
    font-weight: lighter;
    cursor: pointer;
}
.tab-select-all .tab-deselect {display: none;}
.tab-select-all.tab-deselect-all .tab-select {display: none;}
.tab-select-all.tab-deselect-all .tab-deselect {display: inline;}
/* --------------------------- */